priority 0

snippet ``` "```JavaScript" b
\`\`\`${1:JavaScript}
$0
\`\`\`
endsnippet

snippet . "句号" i
。$0
endsnippet

snippet , "逗号" i
，$0
endsnippet

snippet \ "顿号" i
、$0
endsnippet

snippet < "书名号" i
《$1》$0
endsnippet

snippet : "冒号号" i
：$0
endsnippet
